<nav class="navbar">
  <div class="logo">Sisekelo Ngcobo</div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [class.show]="menuOpen">
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    <li>
      <a routerLink="/resume" routerLinkActive="active">Resume</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
  </ul>
</nav>
