<section class="resume">
  <h1>Resume</h1>
  <p>
    You can view or download my resume
    <a
      href="https://dkvy6xyit7qmdhcf.public.blob.vercel-storage.com/Sisekelo_Ngcobo_Resume-JiDdC8SV2GEYq6R6Bd1Ye46jmefYVJ.pdf"
      target="_blank"
      >here</a
    >.
  </p>

  <h2>Education</h2>
  <ul>
    <li>
      <strong>Computer Science</strong> – University of The Witwatersrand
      (2025)<br />
    </li>
  </ul>

  <h2>Voluntary Experience</h2>
  <ul>
    <li>
      <strong>Web Development Intern &#64; CODSOFT</strong> – 10 Sep 2024 - 10
      Oct 2024<br />
      Designed responsive web pages using Material-UI and React. <br />
      Developed backend services with Node.js and Express. <br />
      Implemented database schema and deployed applications. <br />
    </li>
  </ul>

  <h2>Skills</h2>
  <ul>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>HTML/CSS</li>
    <li>Material-UI</li>
    <li>Git</li>
    <li>Agile Methodologies</li>
    <li>RESTful APIs</li>
  </ul>
</section>
